{% include "../includes/header.njk" %}
{% include "../includes/nav.njk" %}

<section class="hero">
  <h1>Developing Intelligent Web Systems & Connected Experiences</h1>
  <p>The spark of innovation begins here.</p>
</section>

{% include "../includes/footer.njk" %}
